@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
.checked{
  background-color: blue !important;
  color: white !important;
  box-shadow: 5px 5px 5px purple!important;
}
